@model Inventorizer_Models.ViewModels.CategoryIndexViewModel

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<br />
<br />
<div class="border p-4 bg-white">
    <div class="row">
        <div class="col-9">
            <h2 class="text-info">Categories</h2>
        </div>

        <div class="col-3 text-right">
            <a asp-action="CreateOrUpdate" class="btn btn-info form-control">Add</a>
        </div>
    </div>
    <br />
    <div>
        @if (Model.Categories.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        Name
                    </th>
                    <th></th>
                </tr>
                @foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>
                            @category.Name
                        </td>
                        <td class="align-left">
                            <a class="btn btn-primary text-white" asp-action="CreateOrUpdate" asp-route-Id="@category.Category_Id">
                               Edit
                            </a>

                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@category.Category_Id">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </table>

            <a asp-action="Index"
            asp-route-pageIndex="@(Model.PageIndex - 1)"
            class="btn btn-default @prevDisabled">
                Previous
            </a>
            <a asp-action="Index"
            asp-route-pageIndex="@(Model.PageIndex + 1)"
            class="btn btn-default @nextDisabled">
                Next
            </a>
        }
        else
        {
            <p>There are no categories yet</p>
        }
    </div>
</div>